html {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    background-color: #f2f7fb;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: 0 !important;
}

.navbar {
    margin-left: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 60px;
    justify-content: flex-start !important;
    align-items: center;
}

.navbar-brand {
    display: flex !important;
    align-items: center;
}

.navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-avatar img {
    width: 100%;
    border-radius: 50px;
}

.navbar-account {
    display: flex !important;
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 14px;
}

a {
    transition: color 0.2s ease-in-out;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background-color: #4e73df;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
    z-index: 1;
}

.sidebar .sidebar-header {
    padding: 0.5rem 1rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.sidebar .sidebar-header>span {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-align: left;
}

.sidebar ul li a:hover {
    color: rgba(255, 255, 255, 1.0);
}

.wrapper {
    padding-left: 300px;
    padding-bottom: 30px;
}

.main {
    padding-bottom: 60px;
    height: 100vh;
}

.form-control {
    border-radius: 0 !important;
}

.theme--light.application {
    background: transparent !important;
}

.stats-search {
    position: relative;
    top: 7px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card .card-block {
    padding: 1.25rem;
}

.user-panel {
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    height: 150px;
    border-radius: 5px;
    padding: 15px 15px 15px 160px;
    text-align: left;
}

.user-panel .user-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-panel .user-avatar img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.user-panel .user-info {
    margin: 0;
    padding: 0 15px;
}

.user-panel .user-info:first-of-type {
    width: 70%;
}

.user-panel .user-info:last-of-type {
    width: 30%;
}

.user-panel .user-nickname {
    font-size: 22px;
}

.user-panel .user-nickname>span {
    position: relative;
    top: 2px;
}

.user-panel .user-active-badge {
    border-radius: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.user-panel .user-steam {
    display: flex;
    align-items: center;
}

.user-panel .user-steam a {
    color: inherit;
    text-decoration: none;
}

.user-panel .user-steam img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-panel .user-info-stat {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-panel .user-info-stat i {
    margin-right: 5px;
}

.kdratio {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    font-size: 26px;
    font-weight: 700;
}

.kdratio-chart {
    pointer-events: none;
}

.winrate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.winrate>span {
    font-size: 34px;
    font-weight: 500;
}

.winrate img {
    width: 48px;
    height: 48px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.winrate-slider {
    pointer-events: none;
}

.alert-vac {
    border-radius: 0;
}

.alert-vac.success-vac {
    color: #0c481a;
    background-color: rgba(76, 175, 80, 0.5);
    border-color: transparent
}

.alert-vac.danger-vac {
    color: #5d1118;
    background-color: rgba(255, 82, 82, 0.5);
    border-color: transparent
}

.h-100-m-30 {
    height: calc(100% - 30px);
}

.h-50-m-30 {
    height: calc(50% - 30px);
}

.headshot-value {
    font-size: 34px;
    font-weight: 500;
}

.mvp-star {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.mvp-star>span {
    font-size: 42px;
    font-weight: 500;
}

.mvp-star img {
    width: 48px;
    height: 48px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stat-title {
    margin-bottom: 15px;
}

.private-profile {
    background-color: #ff5252;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);
    padding: 15px;
    color: #fff;
    font-size: 18px;
}

.fav-weapons {
    display: flex;
    justify-content: space-between;
}

.fav-weapons .weapon-label {}

.fav-weapons .weapon-value {}

.fav-maps {
    display: flex;
    justify-content: space-between;
}

.fav-maps .map-label {}

.fav-maps .map-value {}


/***** Vuebar *****/

.vb>.vb-dragger {
    z-index: 5;
    width: 12px;
    right: 1px;
}

.vb>.vb-dragger>.vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
    transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
    background-color: rgba(48, 121, 244, .1);
    margin: 6px 0px 5px 1px;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom>.vb-dragger>.vb-dragger-styler {
    background-color: rgba(48, 121, 244, .3);
}

.vb>.vb-dragger:hover>.vb-dragger-styler {
    background-color: rgba(79, 140, 245, 1.0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
    margin: 0px 0px 5px 1px;
    height: 99%;
    cursor: pointer;
}

.vb.vb-dragging>.vb-dragger>.vb-dragger-styler {
    background-color: rgba(48, 121, 244, .5);
    margin: 0px 0px 5px 1px;
    height: 100%;
}

.vb.vb-dragging-phantom>.vb-dragger>.vb-dragger-styler {
    background-color: rgba(48, 121, 244, .5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}


/***** Tooltip *****/

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
}

.tooltip[x-placement^=top] {
    margin-bottom: 5px;
}

.tooltip[x-placement^=top] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^=bottom] {
    margin-top: 5px;
}

.tooltip[x-placement^=bottom] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^=right] {
    margin-left: 5px;
}

.tooltip[x-placement^=right] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^=left] {
    margin-right: 5px;
}

.tooltip[x-placement^=left] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden=true] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}