<template>
  <div class="about">
    <div class="wrapper">
      <h1>Magic Pento Mix</h1>

      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <img src="https://i.ytimg.com/vi/dlO8aANekSM/maxresdefault.jpg" class="img-fluid">
              <vuetify-audio :file="file" :ended="audioFinish"></vuetify-audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.theme--light.v-sheet {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.theme--light.v-sheet .v-card__text > button:last-of-type {
  display: none;
}
.v-slider__track__container {
  background-color: rgba(0, 0, 0, 0.1);
}
.v-slider__thumb {
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
  cursor: pointer;
}
</style>

<script>
import VuetifyAudio from "vuetify-audio";

export default {
  data() {
    return {
      file: "http://mwyka.dev8.pro/song.mp3"
    };
  },
  methods: {
    audioFinish() {
      console.log("You see this means audio finish.");
    }
  },
  mounted() {},
  components: {
    "vuetify-audio": VuetifyAudio
  }
};
</script>
