<template>
  <div class="main" v-bar>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-block">
                <div class="d-flex">
                  <v-text-field ref="search" label="SteamID64" class="w-75" v-model="steamID64"></v-text-field>
                  <v-btn color="primary" class="stats-search" @click="setSearch()">Szukaj</v-btn>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" v-if="loader">
            <loader/>
          </div>

          <div class="col-12" v-if="UserInfoArray[0] !== undefined">
            <div class="user-panel">
              <div>
                <div class="user-avatar">
                  <img :src="UserInfoArray[0].avatarfull">
                </div>
                <div class="row">
                  <div class="user-info">
                    <div class="user-nickname">
                      {{UserInfoArray[0].personaname}}
                      <span
                        v-if="UserInfoArray[0].personastate == 0"
                      >
                        <span class="badge badge-danger user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 1">
                        <span class="badge badge-success user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 2">
                        <span class="badge badge-warning user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 3">
                        <span class="badge badge-dark user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 4">
                        <span class="badge badge-info user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 5">
                        <span class="badge badge-primary user-active-badge"></span>
                      </span>
                      <span v-else-if="UserInfoArray[0].personastate == 6">
                        <span class="badge badge-secondary user-active-badge"></span>
                      </span>
                    </div>
                    <div class="user-steam">
                      <a :href="UserInfoArray[0].profileurl" target="_blank">
                        Profil
                        <img src=".././assets/img/steam.svg">
                      </a>
                    </div>
                    <div
                      class="user-seen"
                    >Ostatnio aktywność: {{UserInfoArray[0].lastlogoff | moment("DD/MM/YYYY - h:mm A")}}</div>
                  </div>
                  <div class="user-info">
                    <div class="user-info-stat">
                      <div class="w-100">
                        <h5 class="stat-title">Stan VAC</h5>
                        <div
                          class="alert alert-vac d-flex align-items-center text-center"
                          v-bind:class="{'success-vac': vac_banned == false, 'danger-vac': vac_banned == true}"
                          role="alert"
                        >{{vac_banned | VACStatus}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" v-if="private_profile !== 3">
            <div class="private-profile">To konto jest prywatne</div>
          </div>

          <div class="col-3" v-if="StatsArray[0] !== undefined">
            <div class="card h-100-m-30">
              <div class="card-block">
                <h5 class="stat-title">K/D Ratio</h5>
                <span class="kdratio">{{kdratio | parseTo2}}</span>
                <apexchart
                  class="kdratio-chart d-flex justify-content-center"
                  type="donut"
                  width="300"
                  :options="chartOptions"
                  :series="kdratioChart"
                />
              </div>
            </div>
          </div>

          <div class="col-3" v-if="StatsArray[0] !== undefined">
            <div class="card h-100-m-30">
              <div class="card-block">
                <h5 class="stat-title">Wskaźnik wygranych</h5>
                <div class="winrate">
                  <span>{{total_matches_winrate | parseTo2}}%</span>
                  <img src="./../assets/img/trophy.svg">
                </div>
                <v-flex xs12>
                  <v-slider class="winrate-slider" :value="total_matches_winrate | parseTo2"></v-slider>
                </v-flex>
                <table class="table table-borderless table-sm font-weight-bolder">
                  <tbody>
                    <tr>
                      <td class="align-middle text-left">Zagranych meczów</td>
                      <td class="align-middle text-right">{{total_matches_played}}</td>
                    </tr>
                    <tr>
                      <td class="align-middle text-left">Wygranych meczów</td>
                      <td class="align-middle text-right">{{total_matches_won}}</td>
                    </tr>
                    <tr>
                      <td class="align-middle text-left">Przegranych meczów</td>
                      <td class="align-middle text-right">{{total_lost_matches}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-3" v-if="StatsArray[0] !== undefined">
            <div class="card h-50-m-30">
              <div class="card-block">
                <h5 class="stat-title">Headshot %</h5>
                <span class="headshot-value">{{headshots_percentage | parseTo2}}%</span>
                <table class="table table-borderless table-sm font-weight-bolder mt-3">
                  <tbody>
                    <tr>
                      <td class="align-middle text-left">Strzały w głowę</td>
                      <td class="align-middle text-right">{{total_kills_headshot}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card h-50-m-30">
              <div class="card-block">
                <h5 class="stat-title">MVP</h5>
                <div class="mvp-star">
                  <span>{{total_mvps}}</span>
                  <img src="./../assets/img/star.svg">
                </div>
              </div>
            </div>
          </div>

          <div class="col-3" v-if="StatsArray[0] !== undefined">
            <div class="card h-50-m-30">
              <div class="card-block">
                <h5 class="stat-title">Bronie</h5>
                <table class="table table-borderless table-sm">
                  <thead>
                    <tr class="font-weight-bolder">
                      <th class="align-middle text-left">Broń</th>
                      <th class="align-middle text-right">Liczba zabójstw</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in weaponsArray" :key="index">
                      <td class="align-middle text-left">{{item.label}}</td>
                      <td class="align-middle text-right">{{item.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-6" v-if="StatsArray[0] !== undefined">
            <div class="card h-50-m-30">
              <div class="card-block">
                <h5 class="stat-title">Ulubione mapy</h5>
                <div class="fav-maps">
                  <div class="map-label">Mirage</div>
                  <div class="map-value">value</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" v-if="StatsArray[0] !== undefined">
            <div class="card">
              <div class="card-block">
                <table class="table">
                  <tbody>
                    <tr v-for="(item, index) in StatsArray" :key="index">
                      <td>{{index}}</td>
                      <td class="align-middle text-left">{{item.name}}</td>
                      <td class="align-middle text-left">{{item.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loader from "@/adds/Loader";

export default {
  data() {
    return {
      appid: 730,
      APIKEY: "C499A92BA2F1F5F28098869943AD661D",
      steamID64: "76561198269391482", //76561198269391482 76561198147554681 76561198017151796
      userStatusClass: "",
      userStatusLabel: "",
      loader: false,

      private_profile: 3,
      //K/D Ratio
      total_kills: "",
      total_deaths: "",
      kdratio: "",
      //Win Rate
      total_matches_played: "",
      total_matches_won: "",
      total_matches_winrate: "",
      total_lost_matches: "",
      headshots_percentage: "",
      total_mvps: "",
      //Headshots
      total_kills_headshot: "",
      //VAC Satus
      vac_banned: "",
      //MVPs
      total_mvps: "",
      //Weapons
      total_kills_knife: "",
      total_kills_hegrenade: "",
      total_kills_glock: "",
      total_kills_deagle: "",
      total_kills_elite: "",
      total_kills_fiveseven: "",
      total_kills_xm1014: "",
      total_kills_mac10: "",
      total_kills_ump45: "",
      total_kills_p90: "",
      total_kills_awp: "",
      total_kills_ak47: "",
      total_kills_aug: "",
      total_kills_famas: "",
      total_kills_g3sg1: "",
      total_kills_m249: "",
      total_kills_headshot: "",
      total_kills_enemy_weapon: "",
      total_kills_hkp2000: "",
      total_kills_p250: "",
      total_kills_sg556: "",
      total_kills_scar20: "",
      total_kills_ssg08: "",
      total_kills_mp7: "",
      total_kills_mp9: "",
      total_kills_nova: "",
      total_kills_negev: "",
      total_kills_sawedoff: "",
      total_kills_bizon: "",
      total_kills_tec9: "",
      total_kills_mag7: "",
      total_kills_m4a1: "",
      total_kills_galilar: "",
      total_kills_molotov: "",
      total_kills_taser: "",
      weaponsArray: [],

      //
      kdratioChart: [0, 0],
      chartOptions: {
        labels: ["Zgony", "Zabójstwa"],
        legend: {
          show: false
        },
        tooltip: {
          enabled: false
        },
        dataLabels: {
          enabled: false
        },
        colors: ["#dc3545", "#28a745"],
        expandOnClick: false,
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              }
            }
          }
        ]
      }
    };
  },
  methods: {
    setSearch() {
      this.$refs.search.value == this.steamID64;
      this.getUserInfo();
      this.getUserVAC();
      this.getStats();
      this.loader = true;
    },
    getUserInfo() {
      this.$axios
        .get(
          `http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v2/?key=${
            this.APIKEY
          }&steamids=${this.steamID64}`,
          {
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json"
            }
          }
        )
        .then(
          r => {
            this.$store.commit("setUserInfoArray", r.data.response.players);
            this.loader = false;

            this.private_profile = this.UserInfoArray[0].communityvisibilitystate;
          },
          () => {}
        );
    },
    getUserVAC() {
      this.$axios
        .get(
          `http://api.steampowered.com/ISteamUser/GetPlayerBans/v1/?key=${
            this.APIKEY
          }&steamids=${this.steamID64}`,
          {
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json"
            }
          }
        )
        .then(
          r => {
            this.$store.commit("setUserVAC", r.data.players);
            this.loader = false;

            this.vac_banned = this.UserVAC[0].VACBanned;
          },
          () => {}
        );
    },
    getStats() {
      this.$axios
        .get(
          `http://api.steampowered.com/ISteamUserStats/GetUserStatsForGame/v2/?appid=${
            this.appid
          }&key=${this.APIKEY}&steamid=${this.steamID64}`,
          {
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json"
            }
          }
        )
        .then(
          r => {
            this.$store.commit("setStatsArray", r.data.playerstats.stats);
            this.loader = false;

            this.total_kills = this.StatsArray.filter(
              f => f.name == "total_kills"
            )[0].value;
            this.total_deaths = this.StatsArray.filter(
              f => f.name == "total_deaths"
            )[0].value;
            this.kdratio = this.total_kills / this.total_deaths;
            this.kdratioChart = [this.total_deaths, this.total_kills];

            this.total_matches_played = this.StatsArray.filter(
              f => f.name == "total_matches_played"
            )[0].value;
            this.total_matches_won = this.StatsArray.filter(
              f => f.name == "total_matches_won"
            )[0].value;
            this.total_matches_winrate =
              (this.total_matches_won * 100) / this.total_matches_played;
            this.total_lost_matches =
              this.total_matches_played - this.total_matches_won;

            this.total_kills_headshot = this.StatsArray.filter(
              f => f.name == "total_kills_headshot"
            )[0].value;
            this.headshots_percentage =
              (this.total_kills_headshot * 100) / this.total_kills;

            this.total_mvps = this.StatsArray.filter(
              f => f.name == "total_mvps"
            )[0].value;

            //Weapons
            this.total_kills_knife = this.StatsArray.filter(
              f => f.name == "total_kills_knife"
            )[0].value;
            this.total_kills_hegrenade = this.StatsArray.filter(
              f => f.name == "total_kills_hegrenade"
            )[0].value;
            this.total_kills_glock = this.StatsArray.filter(
              f => f.name == "total_kills_glock"
            )[0].value;
            this.total_kills_deagle = this.StatsArray.filter(
              f => f.name == "total_kills_deagle"
            )[0].value;
            this.total_kills_elite = this.StatsArray.filter(
              f => f.name == "total_kills_elite"
            )[0].value;
            this.total_kills_fiveseven = this.StatsArray.filter(
              f => f.name == "total_kills_fiveseven"
            )[0].value;

            this.weaponsArray = [
              { label: "Nóż", value: this.total_kills_knife },
              { label: "Granat", value: this.total_kills_hegrenade },
              { label: "Glock-18", value: this.total_kills_glock },
              { label: "Desert Eagle", value: this.total_kills_deagle },
              { label: "Dwie Beretty", value: this.total_kills_elite },
              { label: "Five-SeveN", value: this.total_kills_fiveseven }
            ];
          },
          () => {}
        );
    }
  },
  mounted() {
    this.getUserInfo();
    this.getUserVAC();
    this.getStats();
  },
  computed: {
    StatsArray() {
      return this.$store.getters.getStatsArray;
    },
    UserVAC() {
      return this.$store.getters.getUserVAC;
    },
    UserInfoArray() {
      return this.$store.getters.getUserInfoArray;
    }
  },
  filters: {
    parseTo2(value) {
      return parseFloat(value).toFixed(2);
    },
    VACStatus(value) {
      if (value == false) return "Dobry";
      if (value == true) return "VAC Ban";
    }
  },
  components: {
    Loader
  }
};
</script>