<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link to="/" class="navbar-brand">
      <feather type="home"></feather>
    </router-link>
    <feather type="chevron-right"></feather>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link :to="$route.path" class="nav-link">{{$route.name}}</router-link>
          </li>
        </ul>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: "Panel administracyjny",
          href: "#"
        }
      ]
    };
  }
};
</script>

<style>
.breadcrumb {
  margin-bottom: 0;
  background: transparent;
}
</style>