<template>
  <div class="sidebar">
    <div class="sidebar-header">
      <span>magicpento</span>
    </div>
    <ul>
      <li>
        <router-link to="/">Strona główna</router-link>
      </li>
      <li>
        <router-link to="/stats">Statystyki</router-link>
      </li>
      <li>
        <router-link to="/music">Muzyka</router-link>
      </li>
      <li>
        <router-link to="/about">About</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style>
</style>